* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style-type: none;
}
body {
  color: #fff;
  /* min-height: 200vh; */
}
.box {
  border: solid 6px #fff;
  transition: 0.25s ease-in-out;
  background: #000;
  padding: 10px;
}
#rep {
  visibility: hidden;
}
.question-click {
  background: rgb(47, 47, 47);
  border-radius: 10px;
  border: 6px dashed pink;
}
